*.o
.*.swp
.deps
Makefile
Makefile.in
Session.vim
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/README
doc/README.html
install-sh
missing
src/Makefile
src/Makefile.in
src/fusedav
stamp-h1
